
<div class="container">

<footer class="footer">

<small>

Copyright © <a href="enter in a link here"> Rails Developer</a>

by <a href="enter in a link here">Ravi Ranjan</a>

</small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>